p{color: #14004a;
font-family: 'Ubuntu', sans-serif;}
}


h6{color: #14004a;
font-family: 'Ubuntu', sans-serif;}


h3{color: #14004a;
font-family: 'Ubuntu', sans-serif;}

h4{color: #14004a;
font-family: 'Ubuntu', sans-serif;}

h2{color: #14004a;
font-family: 'Ubuntu', sans-serif;}


body{background-color: #FFEDFB;
text-align: center;
}

img{border-radius: 5%;}
